<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>京东</title>
	<link rel="stylesheet" href="__CSS__/women_header.css">
</head>
<body>
	<div class="header">
		<div class="container">
			<div id="arrivalTo">送至：北京<span id="arrows"><i>◇</i></span></div>
			<div id="detail">
				<ul>
					<?php 
						if (isset($_COOKIE['user'])) {
							?>
							<li>欢迎，
								<?php 
									echo $_COOKIE['user']; 
									if ('admin'==$_COOKIE['user']) {
									?>
									<a style="color:green;" href="{:U('Jean/updatejeaninfo')}">添加数据</a>
									<?php
								}
								?>
							</li>
							<?php 

							 ?>
							<li><a href="{:U('User/logoff')}">注销</a></li>
							<?php
						} else {
							?>
							<li><a href="{:U('User/login')}">你好，请登录</a></li>
							<li><a href="{:U('User/register')}">免费注册</a></li>
							<?php
						}
						
					 ?>
					<li class="space"></li>
					<li><a href="">我的订单</a></li>
					<li class="space"></li>
					<li id="myJD"><a href="">我的京东</a><span id="arrows1"><i>◇</i></span>
						<div id="myJdDiv">
							<div class="space"></div>
							<div>
								<img src="__IMAGES__/2.jpg" alt="">
								<span><a href="">你好，请登录</a></span><br>
								<span><a href="">优惠券</a></span><span><a href="">消息</a></span>
							</div>
							<ul>
								<li>待处理订单</li>
								<li>我的关注</li>
								<li>咨询回复</li>
								<li>我的京豆</li>
								<li>降价商品</li>
								<li>我的理财</li>
								<li>返修退换货</li>
								<li>京东白条</li>
							</ul>
						</div>
					</li>
					<li class="space"></li>
					<li><a href="">京东会员</a></li>
					<li class="space"></li>
					<li><a href="">企业采购</a></li>
					<li class="space"></li>
					<li><div id="phoneJD"><img src="__IMAGES__/jd2015img.png"></div><a href="">手机京东<span><i>◇</i></span></a></li>
					<li class="space"></li>
					<li>关注京东<span><i>◇</i></span></li>
					<li class="space"></li>
					<li>客户服务<span><i>◇</i></span></li>
					<li class="space"></li>
					<li>网站导航<span><i>◇</i></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="top">
		<div class="container">
			<div class="logo lf"><a href=""><img src="__IMAGES__/logo-201305.png" alt=""></a></div>
			<div class="search lf">
				<div>
					<input type="text"><input type="button" value="搜索" name="search" onclick="shake(this);">
				</div>
				<a href="" class="active">约惠买车</a>
				<a href="">送红包</a>
				<a href="">农用物资</a>
				<a href="">低至9.9</a>
				<a href="">奥运尖货</a>
				<a href="">夹克女</a>
				<a href="">女童秋装</a>
				<a href="">0元华为</a>
				<a href="">杂粮礼盒</a>
			</div>
			<div class="mycart lf">
				<div><img src="__IMAGES__/jd2015img.png" alt=""></div>我的购物车<i name="goodsNumber">0</i><i name="arrow"></i>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="nav">
		<div class="container">
			<ul>
				<li><a href="">女装商品分类</a>
					<ul>
						<li>
							<p>大家都在穿</p>
							<div><a href="">当季新品</a><a href="">针织衫</a><a href="">连帽卫衣</a><a href="">时尚T恤</a><a href="{:U('Jean/index')}">牛仔裤</a><a href="">轻薄羽绒服</a><a href="">毛呢外套</a><a href="">休闲裤</a><a href="">自营女装</a></div>
						</li>
						<li>
							<p>女士裙装</p>
							<div><a href="">连衣裙</a><a href="">长袖连衣裙</a><a href="">针织裙</a><a href="">棉麻连衣裙</a><a href="">背带裙</a><a href="">毛呢裙</a><a href="">性感连衣裙</a><a href="">蕾丝连衣裙</a><a href="">秋冬连衣裙</a><a href="">套装裙</a><a href="">毛衣裙</a></div>
						</li>
						<li>
							<p>女士上装<span style="float:right;">></span></p>
							<div><a href="">针织衫</a><a href="">衬衫</a><a href="">T恤</a><a href="">卫衣</a><a href="">羊绒衫</a><a href="">短外套</a><a href="">风衣</a><a href="">皮衣</a><a href="">毛呢大衣</a><a href="">羽绒服</a><a href="">皮草</a><a href="">棉服</a></div>
							<div class="expand">
							 	<p><strong>女士上装</strong></p>
							 	<div><a href="">高领毛衣</a><a href="">宽松毛衣</a><a href="">长款毛衣</a><a href="">套头毛衣</a><a href="">毛衣外套</a><a href="">针织衫</a><a href="">套头衫</a><a href="">针织开衫</a><a href="">中长款大衣</a><a href="">新款毛呢</a><a href="">羊绒大衣</a><a href="">双面绒大衣</a><a href="">轻薄羽绒</a><a href="">短款羽绒</a><a href="">中长款羽绒</a><a href="">毛领羽绒服</a><a href="">长款棉服</a><a href="">羊羔毛外套</a><a href="">皮草</a><a href="">皮衣</a><a href="">加绒卫衣</a><a href="">套头卫衣</a><a href="">风衣外套</a><a href="">卫衣套装</a><a href="">时尚T恤</a><a href="">百搭衬衫</a></div>
							</div> 
						</li>
						<li>
							<p>女士下装<span style="float:right;">></span></p>
							<div><a href="{:U('Jean/index')}">牛仔裤</a><a href="">休闲裤</a><a href="">哈伦裤</a><a href="">小脚裤</a><a href="">背带裤</a><a href="">阔腿裤</a><a href="">打底裤</a><a href="">运动裤</a><a href="">短裤</a></div>
							<div class="expand">
							 	<p><strong>女士下装</strong></p>
							 	<div><a href="">牛仔长款</a><a href="">高腰牛仔裤</a><a href="">小脚牛仔裤</a><a href="">黑色牛仔裤</a><a href="">加绒牛仔裤</a><a href="">直筒牛仔裤</a><a href="">哈伦裤</a><a href="">阔腿裤</a><a href="">背带裤</a><a href="">铅笔裤</a><a href="">喇叭裤</a><a href="">正装裤</a><a href="">包裙半裙</a><a href="">皮裙</a></div>
							</div> 
						</li>
						<li>
							<p>特色品类</p>
							<div><a href="">大码女装</a><a href="">中老年女装</a><a href="">旗袍</a><a href="">唐装</a><a href="">设计师</a><a href="">婚纱</a><a href="">礼服</a></div>
						</li>
					</ul>
				</li>
				<li style="display:<?php if (substr("__CONTROLLER__",strrpos("__CONTROLLER__",'/')+1)=="Index") {
					echo "none";
				} else {
					echo "block";
				}
				 ?>;"><a href="">首页</a></li>
				<li><a href="">服装城</a></li>
				<li><a href="">美妆馆</a></li>
				<li><a href="">京东超市</a></li>
				<li><a href="">生鲜</a></li>
				<li><a href="">全球购</a></li>
				<li><a href="">闪购</a></li>
				<li><a href="">团购</a></li>
				<li><a href="">拍卖</a></li>
				<li><a href="">金融</a></li>
				<li><a href=""><img src="__IMAGES__/579c99e6N741e69d0.jpg" alt=""></a></li>
			</ul>
		</div>
	</div>