<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>更新牛仔裤数据信息</title>
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/updatejeaninfo.css">
</head>
<body>
	<div class="container">
		<form action="" method="post" id='jeaninfo' onsubmit='return updateJeanInfo();'>
			<a class="btn btn-success" href="{:U('Index/index')}">返回首页</a>
			<br><br>
			<span>牛仔裤名称：</span>
			<input style="width:800px;" type="text" name='name'>
			<br><br><br>
			<span>裤子参数信息：</span><br><br>
			<span>元素：</span>
			<select name="element" id="">
				<option value="">-----</option>
				<volist name='element' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>风格：</span>
			<select name="style" id="">
				<option value="">-----</option>
				<volist name='style' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>图案：</span>
			<select name="pattern" id="">
				<option value="">-----</option>
				<volist name='pattern' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>厚薄：</span>
			<select name="thickness" id="">
				<option value="">-----</option>
				<volist name='thickness' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>材质：</span>
			<select name="material" id="">
				<option value="">-----</option>
				<volist name='material' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>裤长：</span>
			<select name="outseam" id="">
				<option value="">-----</option>
				<volist name='outseam' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<br>
			<br>
			<span>腰型：</span>
			<select name="waistform" id="">
				<option value="">-----</option>
				<volist name='waistform' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>裤型：</span>
			<select name="panttype" id="">
				<option value="">-----</option>
				<volist name='panttype' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>季节：</span>
			<select name="season" id="">
				<option value="">-----</option>
				<volist name='season' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>闭合方式：</span>
			<select name="closed" id="">
				<option value="">-----</option>
				<volist name='closed' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
			<span>版型：</span>
			<select name="stereotype" id="">
				<option value="">-----</option>
				<volist name='stereotype' id="vo">
					<option>{$vo}</option>
				</volist>
			</select>
		</form>
			
		<br><br><br>
		<span>款式信息：</span>
		<input class="btn btn-danger" type="button" onclick="addDom(this,'fashion');" value="添加款式">
		<span style="margin-left:20px;">是否促销(若是,请打钩)：</span>
		<input type="checkbox" name="is_promotion" form="jeaninfo">

		<form action="" method="post" class="fashion" onsubmit='return updateFashionInfo(this);'>
			<input type="hidden" name='jean_id' value="">
			<span>款式名称：</span>
			<input type="text" name="fashion_name"><br>
			<span>款式图片：</span>
			<input type="file" name="fashion_img">
			<div class="size">
				<span>尺码：</span>
				<select name="size[]" id="">
					<option value="">-----</option>
					<volist name='size' id="vo">
						<option>{$vo}</option>
					</volist>
				</select>
				<span>库存：</span>
				<input name="quantity[]" type="number" min=1>
				<span>价格：</span>
				<input name="price[]" type="text">
				<span>促销价格：</span>
				<input name="promotion_price[]" type="text">
			</div>
			<input type="button" class="btn btn-warning" onclick="addDom(this,'size');" value="添加尺码">
			<input type="button" class="btn btn-danger" onclick="deleteDom(this);" value="删除款式">
		</form>
		<form action="" method="post" class="fashion" onsubmit='return updateFashionInfo(this);'>
			<br>
			<input type="hidden" name='jean_id' value="">
			<span>款式名称：</span>
			<input type="text" name="fashion_name"><br>
			<span>款式图片：</span>
			<input type="file" name="fashion_img">
			<div class="size">
				<span>尺码：</span>
				<select name="size[]" id="">
					<option value="">-----</option>
					<volist name='size' id="vo">
						<option>{$vo}</option>
					</volist>
				</select>
				<span>库存：</span>
				<input name="quantity[]" type="number" min=1>
				<span>价格：</span>
				<input name="price[]" type="text">
				<span>促销价格：</span>
				<input name="promotion_price[]" type="text">
			</div>
			<input type="button" class="btn btn-warning" onclick="addDom(this,'size');" value="添加尺码">
			<input type="button" class="btn btn-danger" onclick="deleteDom(this);" value="删除款式">
		</form>

		<br><br>
		<span>图片展示：</span>
		<br>
		<span>穿着效果(可添加多张图片)：</span>
		<input type="file" multiple='multiple' name='wear_effect[]' form="jeaninfo">

		<span>细节做工(可添加多张图片)：</span>
		<input type="file" multiple='multiple' name='detail_work[]' form="jeaninfo">
		<br><br>
		<input class="btn btn-success" type="submit" value="提交数据" form="jeaninfo">
	</div>
	
	<script src="__JS__/jquery-2.1.3.js"></script>
	<script src="__JS__/updatejeaninfo.js"></script>
</body>
</html>