<!DOCTYPE html>
<html>
<head>

	<title>mafiashare.net</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="Empire - XHTML Template" />

	<!-- CSS -->	
	<link href='fonts/sansation.css' rel="stylesheet" type="text/css" />	<!-- Get any font from here easily: http://www.google.com/webfonts -->	
	<link href="css/style.css" rel="stylesheet" type="text/css" />	
	<link href="fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
	<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" />
	<link href="css/styler-farbtastic.css" rel="stylesheet" type="text/css" />
	
	<!-- UPDATE BROWSER WARNING IF IE 7 OR LOWER -->
	<!--[if lt IE 8]>
	<link href="css/stop_ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	
	<!-- JAVASCRIPTS -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>			
	<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>	
	<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>			
	<script type="text/javascript" src="js/jquery.bgslider.js"></script>
	<script type="text/javascript" src="js/preloader.js"></script>
	<script type="text/javascript" src="js/farbtastic.js"></script>
	<script type="text/javascript" src="js/basic.js"></script>
	<script type="text/javascript" src="js/styler.js"></script>

<!-- 加入angular js -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-sanitize.min.js"></script>

	<script type="text/javascript" src="./ajax-js/common.js"></script>
		
<!-- PAGE OPENING ANIMATION -->
	<script type="text/javascript">		
	
	//PAGE IS CLOSED ON START
	jQuery(document).ready(function(){
		jQuery('#page').css({'display':'inline','width':'300px','overflow':'hidden','margin-right':'340px'});
		jQuery('#sidebar').css({'margin-left':'326px'});	
	});
	
	//WHEN ALL ELEMENTS ARE LOADED
	jQuery(window).load(
		function() {			
			// jQuery('#hp_preloader').delay(800).animate({'opacity':'0'},1400,function(){
			jQuery('#hp_preloader').animate({'opacity':'0'},0,function(){
				
				//HOMEPAGE NIVO SLIDER STARTS
				
				jQuery('#slider-nivo').nivoSlider({
					controlNav:true,
					controlNavThumbs:false,			
					keyboardNav:false,
					pauseOnHover:false,
					prevText:'',			
					nextText:'',
					effect:'fade',
					animSpeed:300,
					pauseTime:4000
				});
				
						
				
				//REMOVE LOADING 
				jQuery(this).remove();
					
				//PAGE OPENING ANIMATION	
				jQuery('#sidebar').animate({'margin-left':'0px'},0);		
				jQuery('#page').animate({'margin-right':'0px','width':'666px'},0);		
				
			});				
		}
	);			
	</script>
		
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	
	<!-- DISPLAY MESSAGE IF JAVA IS TURNED OFF -->
	<noscript>		
		<div id="notification">Please turn on javascript in your browser for the maximum experience!</div>
	</noscript>

	<!-- DISPLAY THIS MESSAGE IF USER'S BROWSER IS IE7 OR LOWER -->
	<div id="ie_warning"><img src="images/warning.png" alt="IE Warning" /><br /><strong>Your browser is out of date!</strong><br /><br />This website uses the latest web technologies so it requires an up-to-date, fast browser!<br />Try <a href="http://www.mozilla.org/en-US/firefox/new/?from=getfirefox">Firefox</a> or <a href="https://www.google.com/chrome">Chrome</a>!</div>

	<!-- PAGE LOADING -->
	<div id="hp_preloader"></div>

	<!-- STYLER FOR DEMO -->
	<div id="styler">
		<div id="styler-button"><a href="#"><img src="images/styler-button.png" alt="styler" /></a></div>
			
		<div class="styler-title"><img src="images/styler-t1.png" alt="" /></div>
			
		<ul id="texture">	
			<li><a href="#" id="styler-texture-1">None</a></li>
			<li id="selected"><a href="#" id="styler-texture-2">Leather</a></li>
			<li><a href="#" id="styler-texture-3">Carbon</a></li>
		</ul>
		
		<div class="styler-title"><img src="images/styler-t2.png" alt="" /></div>
		
		<div id="styler-colorpicker" class="colorpicker"></div>
	</div>


	<!-- SITE WRAPPER -->
	<div id="wrapper">
	
		<!-- PAGE WITH CONTENTS -->
		<div id="page">
			<div id="content">
			
				<!-- NIVO SLIDER -->
				<div class="slider-nivo-holder">
					<div id="slider-nivo">
						<img src="images/nivoslider1.jpg" alt="" />
						<img src="images/nivoslider2.jpg" alt="" />
						<img src="images/nivoslider3.jpg" alt="" />
					</div>
				</div>
		
				<!-- WELCOME TEXT -->
				<h1 style="text-align: center;"> 欢迎来到我们的博客!</h1>

				
				<!-- ELEGANT HORIZONTAL LINE -->
				<div class="hr"></div>
				<div class="clearfix"></div>
				
<!-- 输出文章 -->
				<div>
					<div ng-repeat="x in article" style="width:582px;height:auto;position:relative;margin-bottom:20px;">
						<h1><a href="article.html?id={{x.id}}">{{x.header}}</a></h1>
						<span>标签：{{x.keyword}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span>时间：{{x.time}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span id="articleAuthor">作者：{{x.author}}</span>
						<div style="" ng-bind-html="x.content | trustHtml">{{x.content}}</div>
						<p style="width:582px;height:16px;position:relative;border-bottom:1px solid #ccc;margin-top:20px;padding-bottom:20px;">评论数：{{x.commNo}}</p>
						<p style="width:60px;height:16px;position:relative;left:520px;top:-35px;"><a href="#postComment">[发评论]</a></p>
					</div>

		<!-- 输出评论 --><!-- onmouseover="showDelBtn(this);" onmouseout="hideDelBtn(this);" -->
					<div onmouseover="showDelBtn(this);" onmouseout="hideDelBtn(this);" ng-repeat="x in comms" class="blogArticle" style="width:560px;height:auto;position:relative;margin-left:10px;margin-bottom:20px;">
						<h6 style="margin-bottom:15px;"><a href="article.php?id=">{{x.author}}</a></h6>
						<p style="margin-bottom:15px;">{{x.content}}</p>
						<span>{{x.time}}</span>
						<span onclick="deleteArticle(this)" value="{{x.id}}" ng-click="deleteArticle()" style="cursor:pointer;margin:0 20px;display:none;" class="deleteArt">删除</span>

					<!-- //评论的评论先隐藏，单击后展开 -->
						<p ng-click="isShow=!isShow;" onclick="changeWord(this)" style="width:80px;height:16px;position:relative;left:480px;top:-20px;cursor:pointer;">回复({{x.commNo}})</p>
						<div ng-show="isShow" style="width:560px;height:auto;border:1px solid black;position:relative;margin-bottom:20px;">
							<form style="margin:20px 0 0 20px;" onsubmit="addComm(this)" ng-submit="addComm()" method="post">
								<input type="text" style="display:none;" name="fatherId" value="{{x.id}}" />
								<input type="text" style="display:none;" name="fatherKeyword" value="0" />
								<textarea name="postComm" cols="50" rows="3" id="postComm" wrap="physical"></textarea>
								<br />
								<input type="submit" value="回复" />
							</form>

					<!-- 输出评论的评论 --><!-- onmouseover="showDelBtn(this);" onmouseout="hideDelBtn(this);" -->
							<div onmouseover="showDelBtn(this);" onmouseout="hideDelBtn(this);" ng-repeat="y in x.commComm" class="blogComm" style="width:562px;height:auto;position:relative;padding-top:20px;padding-left:20px; margin-bottom:20px;">
								<h6 style="margin-bottom:15px;"><a href="article.php?id=">{{y.author}}</a></h6>
								<p style="width:450px;">{{y.content}}</p>
								<span>{{y.time}}</span>
								<span onclick="deleteArticle(this)" value="{{y.id}}" ng-click="deleteArticle()" style="cursor:pointer;margin:0 20px;display:none;" class="deleteComm">删除</span>
								
							<!-- //对评论的评论再评论 -->
								<p ng-click="isHide=!isHide;" onclick="changeWord(this)" style="width:80px;height:16px;position:relative;left:460px;top:-15px;cursor:pointer;">回复</p>
								<div ng-hide="isHide" style="width:520px;height:auto;border:1px solid black;position:relative;margin-bottom:20px;">

									<form style="margin:20px 0 0 20px;" onsubmit="addComm(this)" ng-submit="addComm()" method="post" onsubmit="return false;">
										<input type="text" style="display:none;" name="fatherId" value="{{x.id}}" />
										<input type="text" style="display:none;" name="commAuthor" value="{{y.author}}" />
										<input type="text" style="display:none;" name="fatherKeyword" value="0" />
										<textarea name="postComm" cols="50" rows="1" id="postCommComm" wrap="physical">//{{y.content}}</textarea>
										<br />
										<input type="submit" value="回复" />
									</form>
								</div>
							</div>
						</div>
					</div>

					<ul id="paging">
						<li ng-click="changePage(1)">首页</li>
						<li ng-click="changePage('prev1')">上一页</li>
						<li>···</li>
						<li ng-click="changePage('prev2')"></li>
						<li ng-click="changePage('prev1')"></li>
						<li class="active"></li>
						<li ng-click="changePage('next1')"></li>
						<li ng-click="changePage('next2')"></li>
						<li>···</li>
						<li ng-click="changePage('next1')">下一页</li>
						<li ng-click="changePage('end')">尾页</li>
					</ul>
					<form id="postComment" onsubmit="addComm(this)" ng-submit="addComm()">
						<p><script>document.write((getValueFromUrl("user")||getCookie("user"))?(getValueFromUrl("user")||getCookie("user")):"passenger")</script></p>
						<input type="text" style="display:none;" name="fatherId" value=""/>
						<input type="text" style="display:none;" name="fatherKeyword" value="1" />
						<textarea name="postComm" cols="50" rows="5" wrap="physical"></textarea> 
						<br>
						<input type="submit" value="发评论">
					</form>
				</div>
				
			</div><!-- #content ends -->	
		</div><!-- #page ends -->
		<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div> 
		
		<!-- SIDEBAR -->
		<div id="sidebar">	
			<div id="sidebar-color"></div>		<!-- SIDEBAR COLOR LAYER -->
			<div id="sidebar-border"></div>		<!-- SIDEBAR BORDER LAYER -->
			<div id="sidebar-light"></div>		<!-- SIDEBAR RADIAL GRADIENT LIGHT LAYER -->
			<div id="sidebar-texture"></div>	<!-- SIDEBAR TEXTURE LAYER -->
			
			<!-- SIDEBAR CONTENT LAYER -->
			<div id="sidebar-content">	
			
				<!-- LOGO -->
				<div id="logo">
					<a href="index.html"><img src="" alt="" /></a>
				</div>
				<ul id="register">
					<li></li>
					<li></li>
				</ul>

				<!-- MENU -->
				<ul id="menu">
					<li><a href="index.html">HOME</a></li>
					<li class="current"><a href="">BLOG</a></li>
					<li><a href="">EMAIL</a></li>
					<li><a href="backgroundcontrol.php">backGroundControl</a></li>	<!-- //后台控制 -->
				</ul>
			</div><!-- #sidebar-content ends -->
			
			<!-- COPYRIGHT TEXT -->
			<p id="copyright">EMPIRE XHTML. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			
		</div><!-- #sidebar ends -->			
					
	</div><!-- #wrapper ends -->

	
	<!-- BACKGROUND SLIDER -->
	<div id="bg_slider">	
		<img src="images/bgslider-1.jpg" alt="" />
		<img src="images/bgslider-2.jpg" alt="" />		
		<img src="images/bgslider-3.jpg" alt="" />		
	</div>
<!-- 自己的js -->
	<script type="text/javascript" src="./ajax-js/article.js"></script>
</body>
</html>