<!DOCTYPE html>
<html>
<head>

	<title>mafiashare.net</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="Empire - XHTML Template" />

	<!-- CSS -->	
	<link href='fonts/sansation.css' rel="stylesheet" type="text/css" />	<!-- Get any font from here easily: http://www.google.com/webfonts -->	
	<link href="css/style.css" rel="stylesheet" type="text/css" />	
	<link href="fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" />
	<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" />
	<link href="css/styler-farbtastic.css" rel="stylesheet" type="text/css" />
	
	<!-- UPDATE BROWSER WARNING IF IE 7 OR LOWER -->
	<!--[if lt IE 8]>
	<link href="css/stop_ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	
	<!-- JAVASCRIPTS -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>			
	<script type="text/javascript" src="fancybox/jquery.fancybox-1.3.4.pack.js"></script>	
	<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>			
	<script type="text/javascript" src="js/jquery.bgslider.js"></script>
	<script type="text/javascript" src="js/preloader.js"></script>
	<script type="text/javascript" src="js/farbtastic.js"></script>
	<script type="text/javascript" src="js/basic.js"></script>
	<script type="text/javascript" src="js/styler.js"></script>

<!-- 加入angular js -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-sanitize.min.js"></script>

	<script type="text/javascript" src="./ajax-js/common.js"></script>

		
<!-- PAGE OPENING ANIMATION -->
	<script type="text/javascript">		
	
	//PAGE IS CLOSED ON START
	jQuery(document).ready(function(){
		jQuery('#page').css({'display':'inline','width':'300px','overflow':'hidden','margin-right':'340px'});
		jQuery('#sidebar').css({'margin-left':'326px'});	
	});
	
	//WHEN ALL ELEMENTS ARE LOADED
	jQuery(window).load(
		function() {			
			// jQuery('#hp_preloader').delay(800).animate({'opacity':'0'},1400,function(){
			jQuery('#hp_preloader').animate({'opacity':'0'},0,function(){
				
				//HOMEPAGE NIVO SLIDER STARTS
				
				jQuery('#slider-nivo').nivoSlider({
					controlNav:true,
					controlNavThumbs:false,			
					keyboardNav:false,
					pauseOnHover:false,
					prevText:'',			
					nextText:'',
					effect:'fade',
					animSpeed:300,
					pauseTime:4000
				});
				
						
				
				//REMOVE LOADING 
				jQuery(this).remove();
					
				//PAGE OPENING ANIMATION	
				jQuery('#sidebar').animate({'margin-left':'0px'},0);		
				jQuery('#page').animate({'margin-right':'0px','width':'666px'},0);		
				
			});				
		}
	);			
	</script>
		
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	
	<!-- DISPLAY MESSAGE IF JAVA IS TURNED OFF -->
	<noscript>		
		<div id="notification">Please turn on javascript in your browser for the maximum experience!</div>
	</noscript>

	<!-- DISPLAY THIS MESSAGE IF USER'S BROWSER IS IE7 OR LOWER -->
	<div id="ie_warning"><img src="images/warning.png" alt="IE Warning" /><br /><strong>Your browser is out of date!</strong><br /><br />This website uses the latest web technologies so it requires an up-to-date, fast browser!<br />Try <a href="http://www.mozilla.org/en-US/firefox/new/?from=getfirefox">Firefox</a> or <a href="https://www.google.com/chrome">Chrome</a>!</div>

	<!-- PAGE LOADING -->
	<div id="hp_preloader"></div>

	<!-- STYLER FOR DEMO -->
	<div id="styler">
		<div id="styler-button"><a href="#"><img src="images/styler-button.png" alt="styler" /></a></div>
			
		<div class="styler-title"><img src="images/styler-t1.png" alt="" /></div>
			
		<ul id="texture">	
			<li><a href="#" id="styler-texture-1">None</a></li>
			<li id="selected"><a href="#" id="styler-texture-2">Leather</a></li>
			<li><a href="#" id="styler-texture-3">Carbon</a></li>
		</ul>
		
		<div class="styler-title"><img src="images/styler-t2.png" alt="" /></div>
		
		<div id="styler-colorpicker" class="colorpicker"></div>
	</div>


	<!-- SITE WRAPPER -->
	<div id="wrapper">
	
		<!-- PAGE WITH CONTENTS -->
		<div id="page">
			<div id="content">
			
				<!-- WELCOME TEXT -->
				<h1 style="text-align: center;"> 发送接收邮件!</h1>

				
				<!-- ELEGANT HORIZONTAL LINE -->
				<div class="hr"></div>
				<div class="clearfix"></div>

		<!-- 发邮件 -->
				<form onsubmit="updateEmail(this)" method="post" autocomplete="off">
					<label style="display:inline-block;width:50px;" for="receiver">收件人：</label>
					<input style="width:500px;" type="email" name="receiver" id="receiver" value=""><br>
					<label style="display:inline-block;width:50px;" for="emailSubject">主题：</label>
					<input style="width:500px;" type="text" name="emailSubject" id="emailSubject" value=""><br>
					<label for="emailContent">内容：</label><br>
					<textarea style="width: 578px; height: 120px;" name="emailContent" id="emailContent" cols="30" rows="10"></textarea><br>
					<input style="margin-left:530px;" type="submit" value="发送">
				</form>

		<!-- 搜索已收到的邮件 -->
				<h3 style="margin:20px 0 0 0;font-weight:bold;">已收到的邮件</h3>
				<!-- <div style="height:20px;"></div> -->
				<button style="visibility:hidden;" onclick=addArticle();>发表文章</button>
				<span style="visibility:hidden;margin:0 80px;">发表文章</span>
				<form ng-submit="searchReceivedEmail()" method="post" style="display:inline-block;">
					<input id="searchReceivedEmail" name="searchReceivedEmail" style="width:230px;height:20px;" type="text" value="" placeholder="请输入要查找的邮件主题或内容关键字">
					<input type="submit" value="查找">
				</form>
				
<!-- 输出已收邮件内容 -->
				<div>
					<div ng-repeat="x in receivedEmail" class="blogArticle" style="width:582px;height:auto;position:relative;margin-bottom:20px;">
						<h6><a href="id={{x.id}}">邮件主题：{{x.topic}}</a></h6>
						<span>发件人：{{x.comefrom}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span>时间：{{x.time}}</span>
						<div style="" ng-bind-html="x.content | trustHtml:num">{{x.content}}</div>
						<p ng-click="num=100000-num;" ng-hide="{{x.myHide}}" onclick="changeWord(this);" class="readMore" style="width:60px;height:16px;line-height:16px;text-align:center; border:1px solid #333;background:#ccc;border-radius:2px;position:relative;left:520px;cursor:pointer;">阅读全文</p>
						
					</div>
					<ul id="receivedPaging">
						<li ng-click="changeReceivedPage(1)">首页</li>
						<li ng-click="changeReceivedPage('prev1')">上一页</li>
						<li>···</li>
						<li ng-click="changeReceivedPage('prev2')"></li>
						<li ng-click="changeReceivedPage('prev1')"></li>
						<li class="active"></li>
						<li ng-click="changeReceivedPage('next1')"></li>
						<li ng-click="changeReceivedPage('next2')"></li>
						<li>···</li>
						<li ng-click="changeReceivedPage('next1')">下一页</li>
						<li ng-click="changeReceivedPage('end')">尾页</li>
					</ul>
				</div>

		<!-- 搜索已发送的邮件 -->
				<h3 style="margin:20px 0 0 0;font-weight:bold;">已发送的邮件</h3>
				<!-- <div style="height:20px;"></div> -->
				<button style="visibility:hidden;" onclick=addArticle();>发表文章</button>
				<span style="visibility:hidden;margin:0 80px;">发表文章</span>
				<form ng-submit="searchSentEmail()" method="post" style="display:inline-block;">
					<input id="searchSentEmail" name="searchSentEmail" style="width:230px;height:20px;" type="text" value="" placeholder="请输入要查找的邮件主题或内容关键字">
					<input type="submit" value="查找">
				</form>

<!-- 输出已发送的内容 -->
				<div>
					<div ng-repeat="y in sentEmail" class="blogArticle" style="width:582px;height:auto;position:relative;margin-bottom:20px;">
						<h6><a href="id={{y.id}}">邮件主题：{{y.topic}}</a></h6>
						<span>收件人：{{y.cometo}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span>时间：{{y.time}}</span>
						<div style="" ng-bind-html="y.content | trustHtml:num">{{y.content}}</div>
						<p ng-click="num=100000-num;" ng-hide="{{y.myHide}}" onclick="changeWord(this);" class="readMore" style="width:60px;height:16px;line-height:16px;text-align:center; border:1px solid #333;background:#ccc;border-radius:2px;position:relative;left:520px;cursor:pointer;">阅读全文</p>
					</div>
					<ul id="sentPaging">
						<li ng-click="changeSentPage(1)">首页</li>
						<li ng-click="changeSentPage('prev1')">上一页</li>
						<li>···</li>
						<li ng-click="changeSentPage('prev2')"></li>
						<li ng-click="changeSentPage('prev1')"></li>
						<li class="active"></li>
						<li ng-click="changeSentPage('next1')"></li>
						<li ng-click="changeSentPage('next2')"></li>
						<li>···</li>
						<li ng-click="changeSentPage('next1')">下一页</li>
						<li ng-click="changeSentPage('end')">尾页</li>
					</ul>
				</div>
				
			</div><!-- #content ends -->	
		</div><!-- #page ends -->
		<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div> 
		
		<!-- SIDEBAR -->
		<div id="sidebar">	
			<div id="sidebar-color"></div>		<!-- SIDEBAR COLOR LAYER -->
			<div id="sidebar-border"></div>		<!-- SIDEBAR BORDER LAYER -->
			<div id="sidebar-light"></div>		<!-- SIDEBAR RADIAL GRADIENT LIGHT LAYER -->
			<div id="sidebar-texture"></div>	<!-- SIDEBAR TEXTURE LAYER -->
			
			<!-- SIDEBAR CONTENT LAYER -->
			<div id="sidebar-content">	
			
				<!-- LOGO -->
				<div id="logo">
					<a href="index.html"><img src="" alt="" /></a>
				</div>
				<ul id="register">
					<li></li>
					<li></li>
				</ul>

				<!-- MENU -->
				<ul id="menu">
					<li><a href="index.html">HOME</a></li>
					<li><a href="">BLOG</a></li>
					<li class="current"><a href="">EMAIL</a></li>
					<li><a href="backgroundcontrol.php">backGroundControl</a></li>	<!-- //后台控制 -->
				</ul>
			</div><!-- #sidebar-content ends -->
			
			<!-- COPYRIGHT TEXT -->
			<p id="copyright">EMPIRE XHTML. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			
		</div><!-- #sidebar ends -->			
					
	</div><!-- #wrapper ends -->

	
	<!-- BACKGROUND SLIDER -->
	<div id="bg_slider">	
		<img src="images/bgslider-1.jpg" alt="" />
		<img src="images/bgslider-2.jpg" alt="" />		
		<img src="images/bgslider-3.jpg" alt="" />		
	</div>
<!-- 自己的js -->
	<script type="text/javascript" src="./ajax-js/email.js"></script>
</body>
</html>