<include file="Common/women_header"/>
<link rel="stylesheet" href="__CSS__/women.css">

<div class="lf banner">
	<div id="myCarousel" class="carousel slide">
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div class="item">
				<img src="__IMAGES__/5812a32cN1bf796be.jpg" alt="0">
			</div>
			<div class="item">
				<img src="__IMAGES__/5812a2edN2585f788.jpg" alt="1">
			</div>
			<div class="item">
				<img src="__IMAGES__/5812a2d3Nfee1e199.jpg" alt="2">
			</div>
			<div class="item">
				<img src="__IMAGES__/580f3bbaN4399f08d.jpg" alt="3">
			</div>
			<div class="item">
				<img src="__IMAGES__/58132f4dN5d0922fa.jpg" alt="4">
			</div>
		</div>
		<!-- 轮播（Carousel）指标 -->
		<ul class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" 
				class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
		</ul>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" data-slide="next">&rsaquo;</a>
	</div>
	<div id="dbleleven">
		<a href=""><img src="__IMAGES__/58143514Nc4fd1f5d.jpg" alt=""><span></span></a>
		<a href=""><img src="__IMAGES__/5812a3acNfb7d3959.jpg" alt=""><span></span></a>
		<a href=""><img src="__IMAGES__/5812a3c1N2d0710f3.jpg" alt=""><span></span></a>
		<a href=""><img src="__IMAGES__/5812a3d4N735acf90.jpg" alt=""><span></span></a>
	</div>
</div>
		


<div class="clearfix"></div>
<div class="selected">
	<div class="container">
		<h1>精选品牌<span>SELECTED</span></h1>
		<div><img src="__IMAGES__/5812c462N191538ff.jpg" alt=""></div>
		<div>
			<ul>
				<li class="active" id="famous_brand">知名品牌</li>
				<li id="mass_brand">大众品牌</li>
				<li id="trendy_brand">潮流品牌</li>
			</ul>
			<div>
				<ul class="famous_brand">
					<li><img src="__IMAGES__/580047a1N7d1304f8.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57d21651N6cabe69d.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57ff4643N03875a31.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57ff4661N128ec9e2.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5762bc40N1d14c7ae.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5743fb6bN26274231.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5743fa6eNc9173a22.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5743f715Nb45e5025.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5743f830N2dddb70f.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5743fe24N26b49b3b.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57724316Naa8a1a04.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5744054dNc495dfe4.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57fca623N1d106cdc.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5744048dN15eaabe2.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5734025fNd108d6ea.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340280N500f2585.jpg" alt=""><span></span></li>
				</ul>
				<ul class="mass_brand" style="display:none;">
					<li><img src="__IMAGES__/57340040N883c50e6.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57636ca5Nf965871d.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340190N311da529.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573401c7Nc823521b.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57aaa1a9Neb1f3d33.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340236N8e6356ce.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340251Nd368a6b7.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340281N59b64143.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573402b0Nd834e9e6.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573402ebN9118c0e3.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340312N72e6bf25.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340336N57ed3166.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5734039eNe71de185.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340403N92f88aa9.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57340443Nfb658b0f.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5734047fNc8d788c2.jpg" alt=""><span></span></li>
				</ul>
				<ul class="trendy_brand" style="display:none;">
					<li><img src="__IMAGES__/57ada8a7N3b5526a5.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57ada8c0N94ca772c.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57ada8d6N1fd12aea.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57ada8efNd58c0dae.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57341372N054d01ec.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573413a5N24ebaea6.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573413e6N43822414.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57341410Ndd5bab15.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573414a2Nace9bb20.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57341446N80a621e6.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5734146aNbb6f4499.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573414e0N70a94ca8.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57341536Nada508c2.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/57341554N361df18d.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/5734157fN1fd98b36.jpg" alt=""><span></span></li>
					<li><img src="__IMAGES__/573415acN44f63beb.jpg" alt=""><span></span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="new">
	<div class="container">
		<h1>品牌上新<span>new</span></h1>
		<div>
			<a><img src="__IMAGES__/581322c2Nff071d8a.jpg" alt=""><span></span></a>
			<a><img src="__IMAGES__/5814384fNcf3aae1b.jpg" alt=""><span></span></a>
			<a><img src="__IMAGES__/5811cf2fN95d8bf67.jpg" alt=""><span></span></a>
			<a><img src="__IMAGES__/5812b951N8ac95b57.jpg" alt=""><span></span></a>
			<a><img src="__IMAGES__/5814388aNd8821624.jpg" alt=""><span></span></a>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="trend">
	<div class="container">
		<h1>潮流穿搭<span>TREND</span></h1>
		<div>
			<div>
				<a><img src="__IMAGES__/58100a37Nbe01262b.jpg" alt=""><span></span></a>
			</div>
			<div>
				<a><img src="__IMAGES__/5812a467N2b6ce1d8.jpg" alt=""><span></span></a>
				<a><img src="__IMAGES__/58132f8dN546e59bd.jpg" alt=""><span></span></a>
				<a><img src="__IMAGES__/58132fe6N4c75aac0.jpg" alt=""><span></span></a>
			</div>
			<div>
				<a><img src="__IMAGES__/5812a502N2325b703.jpg" alt=""><span></span></a>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<script src="__JS__/jquery-1.4.3.js"></script>
<script src="__JS__/women.js"></script>
<include file="Common/women_footer"/>